table {
  border-collapse: collapse;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}

.cell {
  width: 30px;
  height: 30px;
  border: none;
  margin: 0px;
  padding: 0px;
}

.placetaker {
  width: 30px;
  height: 30px;
  position: relative;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/*****************************

Player Indicators

*****************************/

.black_player {
  width: 26px;
  height: 26px;
  background: black;
  position: relative;
  top: 2px;
  left: 2px;
  
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

.white_player {
  width: 26px;
  height: 26px;
  background: white;
  position: relative;
  top: 2px;
  left: 2px;
  
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

/*****************************

Piece Colors

*****************************/

.OR {
  width: 20px;
  height: 20px;
  background: orange;
  position: relative;
  top: 3px;
  left: 3px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

.RE {
  width: 20px;
  height: 20px;
  background: red;
  position: relative;
  top: 3px;
  left: 3px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.GR {
  width: 20px;
  height: 20px;
  background: green;
  position: relative;
  top: 3px;
  left: 3px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.BR {
  width: 20px;
  height: 20px;
  background: brown;
  position: relative;
  top: 3px;
  left: 3px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.BL {
  width: 20px;
  height: 20px;
  background: blue;
  position: relative;
  top: 3px;
  left: 3px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.YE {
  width: 20px;
  height: 20px;
  background: yellow;
  position: relative;
  top: 3px;
  left: 3px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.PU {
  width: 20px;
  height: 20px;
  background: purple;
  position: relative;
  top: 3px;
  left: 3px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.PI {
  width: 20px;
  height: 20px;
  background: pink;
  position: relative;
  top: 3px;
  left: 3px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/*****************************

Animations

*****************************/

@-webkit-keyframes moveAnimation {
  from {top: 0px; left: 0px;}
}

@keyframes moveAnimation {
  from {top: 0px; left: 0px;}
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}