table {
  border-collapse: collapse;
}

body {
  margin: 0px;
  padding: 0px;
}

.cell {
  text-align: center;
  width: 50px;
  height: 50px;
  border: none;
  margin: 0px;
  padding: 0px;
}

.black {
  position: relative;
  right: 2px;
}

.white {
  position: relative;
  right: 2px;
  top: 4px;
}