<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Kamisado</title>
  <meta name="description" content="Kamisado game">
  <meta name="viewport" ontent="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
    <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.js"></script>
    <script crossorigin="anonymous" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
  <script src="ngDraggable.js"></script>

  <script src="game.js"></script>
  <script src="gameLogic.js"></script>
  <script src="resizeGameAreaService.js"></script>
  <script src="gameService.js"></script>
  <script src="messageService.js"></script>
  <script src=" stateService.js"></script>
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-cloak ng-controller="Ctrl">
<div id="gameArea">
<table style="position:absolute; top:0%; left:0; width:100%; height:100%;">
    <tr ng-repeat="row in uiBoard track by $index">
      <td ng-repeat="cell in row track by $index"
        bgcolor="{{cell.color}}"
        ng-class="{cell:true}"
        ng-drop="true"
        ng-drop-success="onDropComplete($data,$event,$parent.$index,$index)">
        <div ng-drag="cell.isDraggable && isYourTurn" ng-drag-data="cell.id">
          <div ng-class="{placetaker: true}" ng-style="cell.ngstyle">
            <div ng-class="{black_player: cell.isPlayer1, white_player: cell.isPlayer0, blink_me: cell.isDraggable && isYourTurn}"
            ng-show="!cell.isEmpty">
              <div ng-class="cell.pieceColor" ng-show="!cell.isEmpty">
              </div>
            </div>
          </div>
        </div>
      </td> 
    </tr>
  </table>
</div>
</body>
</html>
