<!DOCTYPE html>
<html manifest="game.appcache" lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Kamisado</title>
  <meta name="description" content="Kamisado game">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-touch.min.js"></script>

  <script src="game.js"></script>
  <script src="gameLogic.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/scaleBodyService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-controller="Ctrl">
  <table>
    <tr ng-repeat="row in uiBoard track by $index">
      <td ng-repeat="cell in row track by $index" 
        bgcolor="{{cell.color}}"
        ng-class="{cell: true}"
        ng-click="cellClicked($parent.$index, $index)">
        <img ng-src="{{cell.piece === '' ? '' : (cell.piece + (!cell.isSelected ? '':'_selected') + '.png')}}"
        ng-show="!cell.isEmpty"
        ng-class="{balck: cell.isPlayer1, white: cell.isPlayer0}"/>
      </td> 
    </tr>
  </table>
</bod>
</html>
