table {
    border-collapse: collapse;
}

html, body {
    margin: 0;
    padding: 0;
    width: 240px;
    height: 240px;
    overflow: hidden;
    /*position: fixed!important;*/
    background: #D8D3AB;
}

.cell {
    width: 30px;
    height: 30px;
    border: none;
    margin: 0px;
    padding: 0px;
}


/*****************************
Player Indicators
*****************************/

.black_player {
    width: 65%;
    height: 65%;
    background: #342E16;
    position: relative;
    top: 50%;
    left: 20%;
    


    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.white_player {
    width: 65%;
    height: 65%;
    background: #FBF9D2;
    position: relative;
    top: 50%;
    left: 20%;


    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*****************************
Piece Colors
*****************************/

.OR {
    width: 65%;
    height: 65%;
    background: #FFA858;
    position: relative;
    margin: 0 auto;
    top:17%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

.RE {
    width: 65%;
    height: 65%;
    background: #F75E50;
    position: relative;
    margin: 0 auto;
    top:17%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.GR {
    width: 65%;
    height: 65%;
    background: #84A586;
    position: relative;
    margin: 0 auto;
    top:17%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.BR {
    width: 65%;
    height: 65%;
    background: #A26E59;
    position: relative;
    margin: 0 auto;
    top:17%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.BL {
    width: 65%;
    height: 65%;
    background: #39455A;
    position: relative;
    margin: 0 auto;
    top:17%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.YE {
    width: 65%;
    height: 65%;
    background: #EAC761;
    position: relative;
    margin: 0 auto;
    top:17%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.PU {
    width: 65%;
    height: 65%;
    background: #890E53;
    position: relative;
    margin: 0 auto;
    top:17%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.PI {
    width: 65%;
    height: 65%;
    background: #AC768F;
    position: relative;
    margin: 0 auto;
    top:17%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*****************************
Animations
*****************************/

/*@-webkit-keyframes moveAnimation {*/
    /*from {top: 0px; left: 0px;}*/
/*}*/

/*@keyframes moveAnimation {*/
    /*from {top: 0px; left: 0px;}*/
/*}*/

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

.carousel-indicators li {
    background-color: black;
}
.carousel-indicators .active {
    background-color: green;
}
td {
    padding:0 5px 0 5px;
}
.modal-dialog {
    z-index: 1001;
}
.overlayModal {
    text-align:center;
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}
.modal-backdrop {
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}