html, body {
  margin: 0;
  padding: 0;
  width: 512px;
  height: 250px;
  overflow: hidden;
  position: fixed!important;
  background: #D8D3AB;
}

a {
  font-size: 70px;
  font-family: "Times New Roman", Times, serif;
}
